asgiref==3.2.7
Django==3.0.6
django-admin-interface==0.12.2
django-colorfield==0.3.0
django-crispy-forms==1.8.1
django-debug-toolbar==2.2
django-dynamic-formsets==0.0.8
django-extensions==2.2.9
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-tinymce==3.0.1
django-tinymce4-lite==1.8.0
jsmin==2.2.2
Pillow==7.1.2
psycopg2==2.8.5
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
