{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container-contact100" style="background-image: url({% static 'gestion/images/bg-01.jpg' %});">
    <div class="wrap-contact100">
        <form class="form-control" method="post">
            {% csrf_token %}
            <span class="contact100-form-title">
             <center> Connexion</center>
            </span>
            <div class="row">
                <div class="form-control">
                            {{ form.username | as_crispy_field}}
                            {{ form.password | as_crispy_field}}
                </div>
                <br>
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
           
            
          
        </form>
    </div>

    <span class="contact100-more">
         <a href="{% url 'site-home' %}"><h4 style="color: aliceblue;">EduvRoom</h4></a>  
    </span>
</div>

{% endblock %}