{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class='box'>
    <div class='box-form'>
      <div class='box-login-tab'></div>
      <div class='box-login-title'>
        <div class='i i-login'></div>
        <h2>Connexion</h2>
      </div>
      <div class='box-login'>
        <form class="form-control" method="post"  action="{% url 'login' %}">
            {% csrf_token %}
        <div class='fieldset-body' id='login_form'>
        
          <p class='field'>
            <label for='user'>E-MAIL</label>
            <input type='text'id="id_username" name="username" title='Adresse electronique' />
            <span id='valida' class='i i-warning'></span>
          </p>
          <p class='field'>
            <label for='pass'>PASSWORD</label>
            <input type='password' id="id_password" name="password" 
            title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
          {% if form.errors %}
          <p class=" label label-danger">
              <code>
                  L'adresse electronique ou <br>
                  le mot de passe ne corresponde pas . <br>
                  Veillez Réessayer.
              </code>
             
          </p>
      {% endif %}
  
         
  
          <input type='submit' id='do_login' value='Submit' title='Get Started' />
        </div>
    </form>
      </div>
    </div>
    <div class='row'>
     
      <div class='line-wh'></div>
      
      <button onclick="" class='b-support' title='Forgot Password?' style="color:black"> <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a> </button>
      <button onclick="" class='b-support' title='Contact Support' style="color:black"><a href="{% url 'site-contact' %}">Contacter le  Support</a>  </button>
    
     </div>

   
</div>

{% endblock %}