{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container-contact100" style="background-image: url({% static 'gestion/images/bg-01.jpg' %});">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" method="post">
                {% csrf_token %}
                <span class="contact100-form-title">
                   INSCRIPTION  {{ user_type }}
                </span>
                {{ form|crispy}}
                
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <span class="contact100-more">
                Call us on +001 345 6178
        </span>
    </div>

<!--make it better -->

    <div id="dropDownSelect1"></div>

{% endblock %}