{% extends 'gestion/baselog.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
  


<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
         <center>
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">  INSCRIPTION {{ user_type }}</h1>
              </div>
              <center>
              <form class="user" method="post">
                {% csrf_token %}
              <div class="form-group">
                  {{ form  }}
                </div>
              
                <hr>
                        <button class="btn btn-success btn-user btn-block">
                                            Valider
                        </button>
                <hr>
             
              </form>
            
            </center>x
            </div>
          </div>
        </center>
        </div>
      </div>
    </div>

  </div>
{% endblock  %}