{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class='box'>
    <div class='box-form'>
      <div class='box-login-tab'></div>
      <div class='box-login-title'>
        <div class='i i-login'></div>
        <h2></h2>
      </div>
      <div class='box-login'>
          <div class="container">
            <form class="form-control" method="post">
                {% csrf_token %}
            <div class='fieldset-body' id='login_form'>
            
              {{ form | crispy }}
             
             
      
             
      
              <input type='submit' id='do_login' value='Submit'  />
            </div>
        </form>
          </div>
        
      </div>
    </div>
    <div class='row'>
     
      <div class='line-wh'></div>
     
     </div>

   
</div>

{% endblock %}