{% extends 'gestion/base.html' %}
{% load static %}
    
        
{% block content %}
          
        <div class="container-fluid">
            
 <div class="row">        
    
    {% for rec in recrutements  %}
        
           
        
                <div class="col-12 col-lg-6">
    
                  <!-- Illustrations -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">{{rec.intitule}}</h6>
                    </div>
                    <div class="card-body">
                      <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'gestion/dash/img/undraw_posting_photo.svg' %}" alt="">
                      </div>
                      <p>Resultat {{rec.intitule}} ouvert le : {{ rec.ouverture }}</p>
                      <a  href="{% url 'teachers:resultat-final' pk=rec.pk %}">Consulter &rarr;</a>
                    </div>
                  </div>
                 </div>
     {% endfor %}
     
              </div>
        </div>
        {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Debut</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Précédent</a>
        {% endif%}
        {% for num in page_obj.paginator.page_range%}
            {% if page_obj.number == num %}
             <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Suivant</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Fin</a>
        {% endif%}

      {% endif %}
        </div>
  </div>

{% endblock %}   