{% extends 'gestion/base2.html' %}
{% load static %}

    
        
{% block content %}
          
        <div class="container-fluid">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"> <button class="btn btn-info" style="background-color: dodgerblue;">IMPRIMER</button> </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" border="1">
                  <thead>
                    <tr>
                      
                      <th>Nom & Prenom</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>MOYENNE</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                     
                      <th>Nom & Prenom</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>MOYENNE</th>
                    </tr>
                  </tfoot>
                  <tbody>
     
                   
                
                     


                {% for result in resultat  %}
                
       
                    <tr>
                   
                    <td>{{result.dossier.nom }} {{result.dossier.prenom}}</td>
                   
                 
                   
                    <td>{{result.dossier.email }}   </td>
                    <td>{{ result.dossier.contact }} </td>
                  
                    <td> {{ result.All }}</td>
                   
                    </tr>

                  
                {% endfor %}
                
    

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      
        
         

{% endblock %}   