{% extends "enseignement/base.html" %}
{% load static  %}
{% load crispy_forms_tags %}
{%block content %}



 <!-- ##### Top Popular Courses Area Start ##### -->
 <div class="top-popular-courses-area mt-50 section-padding-100-70">
    <div class="container">
        <div class="text-center" style="background-color: lightgray;">
            <h1 style="color: rgb(8, 8, 8);">Je Candidate</h1>
          </div>
</div>


    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-content">
                        <div class="row">
                             <div class="col-lg-12">
                                    <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                        <form action="" method="post" enctype="multipart/form-data" id="myform"> 
                                           
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.nom |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.prenom |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.date_de_naissance |as_crispy_field }}</div>
                                                </div>
                                             
                                            </div>
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.sexe |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.localite |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.email |as_crispy_field }}</div>
                                                </div>
                                             
                                            </div>
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.grade |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.domaine |as_crispy_field }}</div>
                                                </div>
                                             
                                            </div>
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.contact |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.photo |as_crispy_field }}</div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">  {{ form.piece_indentite |as_crispy_field }}</div>
                                                </div>
                                             
                                            </div>
                                            <div class="container">
                                                        <h4>Diplomes</h4>
                                                        <table class="table" id="t1">
                                                        
                                                
                                                            {% for form in diplomes.forms %}
                                                                {% if forloop.first %}
                                                                    <thead>
                                                                        <div class="row"> <tr>
                                                                            {% for field in form.visible_fields %}
                                                                               <div class="col-md"> <th>{{ field.label|capfirst }}</th></div>
                                                                            {% endfor %}
                                                                        </tr></div>
                                                                   
                                                                    </thead>
                                                                {% endif %}
                                                                {{ form.id }}
                                                                <tbody>
                                                                <tr class="{% cycle row1 row2 %} formset_row1">
                                                                    {% for field in form.visible_fields %}
                                                                        <td>
                                                                            {# Include the hidden fields in the form #}
                                                                            {% if forloop.first %}
                                                                                {% for hidden in form.hidden_fields %}
                                                                                    {{ hidden }}
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                            {{ field.errors.as_ul }}
                                                                          <div class="row">
                                                                              <div class="col-md"> {{ field }}</div>
                                                                          </div> 
                                                                        </td>
                                                                    {% endfor %}
                                                                </tr>
                                                        
                                                            {% endfor %}
                                                        </tbody>
                                                        </table>
                                                                    
                                                        {{ diplomes.management_form }}
                                                        <h4>Certificats</h4>
                                                        <table class="table" id="t2">
                                                        
                                            
                                                            {% for form in certificats.forms %}
                                                                {% if forloop.first %}
                                                                    <thead>
                                                                  <div class="row">
                                                                    <tr>
                                                                        {% for field in form.visible_fields %}
                                                                            <th>{{ field.label|capfirst }}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                  </div> 
                                                                    </thead>
                                                                {% endif %}
                                                            {{ form.id }}
                                                                <tr class="{% cycle row1 row2 %} formset_row2">
                                                                    {% for field in form.visible_fields %}
                                                                        <td>
                                                                            {# Include the hidden fields in the form #}
                                                                            {% if forloop.first %}
                                                                                {% for hidden in form.hidden_fields %}
                                                                                    {{ hidden }}
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                            {{ field.errors.as_ul }}
                                                                            {{ field }}
                                                                        </td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                    
                                            {{ certificats.management_form }}
                                        
                                         
                                                <br>
                                               <center>
                                                <input type="submit" value="Valider" class="btn academy-btn btn-sm" />
                                    
                                               </center>
                                            </div> 
                                                </form>
                                    </div>
                                </div>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
 
{% endblock content %}
   