{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EduVRoom</title>
    <link rel="icon" href=" {% static 'enseignement/img/core-img/favicon.ico' %} ">
    <link rel="stylesheet" href="{% static 'enseignement/style.css' %}">
  <script src="{% static '/enseignement/js/jquery/jquery-2.2.4.min.js' %}" type="text/javascript"> </script>
  <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(300, 0).slideUp(300, function(){
            $(this).remove(); 
        });
    }, 2000);
</script>
</head>
<style>
hr.style-eight {
height: 10px;
border: 1;
box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}
</style>

<body>
   
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

   
    <header class="header-area">

       
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                         <a href="{% url 'site-home' %}"><img src=" {% static 'enseignement/img/core-img/logo.png' %}" alt="" height="200" width="200"></a>
                            </div>
                     {% if user.is_authenticated %}
                            <div class="login-content">
                                <a href="{% url 'logout' %}">Deconnexion</a>
                            </div>
                     {% else %}
                            <div class="login-content">
                                <a href="{% url 'login' %}">Connexion</a>
                            </div>
                          
                     {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
 {% if user.is_authenticated %}

 
 {% if user.is_student  %}
     

     
      
        <div class="academy-main-menu">
            
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                  
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                      
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
 
                        <div class="classy-menu">

                            
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                  
                           
                            <div class="classynav">
                                <ul>
                   
                                    <li><a href="{% url 'site-home' %}">Home</a></li>
                                    <li><a href="{% url 'site-home' %}">Mon Profile</a></li>
                                    <li><a href="{% url 'students:accueil-student' %}">Mon Cursus</a></li>
                                    <li><a href="{% url 'site-contact' %}">Nous Contacter</a></li>
                                </ul>
                            </div>
                           </div>
        {% else %}
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                  
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                      
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
 
                        <div class="classy-menu">

                            
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                  
                           
                            <div class="classynav">
                                <ul>
                   
                                    <li><a href="{% url 'site-home' %}">ESPACE ADMINISTRATION</a></li>
                                    
                                </ul>
                            </div>
                           </div>
     {% endif %}
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="#"> <span>{{ user.first_name}} {{user.last_name}} </span><img class="rounded-circle"  src="{{ user.student.photo.url }}" alt="" height="80" width="80" ></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
{% else %}
<div class="academy-main-menu">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
          
            <nav class="classy-navbar justify-content-between" id="academyNav">

              
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <div class="classy-menu">

                    
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
          
                   
                    <div class="classynav">
                        <ul>
           
                            <li><a href="{% url 'site-home' %}">Accueil</a></li>
                            <li><a href="">Nos Cours</a></li>
                            <li><a href="">Actualite</a></li>
                            <li><a href="{% url 'recrutement-home' %}">Recrutements</a></li>
                            <li><a href="{% url 'site-contact' %}">Nous Contacter</a></li>
                        </ul>
                    </div>
                   </div>
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+22548733365"><i class="icon-telephone-2"></i> <span>(+225) 48 73 33 65</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
 {% endif %}
    </header>


{% block content %}
    
{% endblock %}

   
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script>  <a href="http://analyst123.herokuapp.com/" target="_blank">EduVRoom</a>
</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   

    <script src="{% static 'enseignement/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'enseignement/js/plugins/plugins.js' %}"></script>

    <script src="{% static 'enseignement/js/active.js' %}"></script>
   <script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"> </script>

  
<script src="{% static 'enseignement/librairie/js.js' %}"></script>
<script type="text/javascript">
    $('.formset_row1').formset({
        addText: 'Ajouter un diplome',
        deleteText: 'remove',
        prefix: 'diplome_set'
    });
    $('.formset_row2').formset({
        addText: 'Ajouter un certificat',
        deleteText: 'remove',
        prefix: 'certificat_set'
    });
</script>


   
</body>

</html>