{% extends "enseignement/base.html" %}
{% load crispy_forms_tags %}
{% load static  %}
{%block content %}

 <div class="top-popular-courses-area mt-50 section-padding-100-70">
    <div class="container">
        <div class="text-center" style="background-color: lightgray;">
            <h1 style="color: rgb(8, 8, 8);">CONTACT</h1>
          </div>
    <div class="row">
      
    </div>
</div>
</div>
       
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-content">
                        <div class="row">
                          
                            <div class="col-12 col-lg-5">
                                <div class="contact-information wow fadeInUp" data-wow-delay="400ms">
                                    <div class="section-heading text-left">
                                        <span>EduvRoom</span>
                                    
                                {% for info in contact %}
                                
                                {% if info.status %}
                                    
                              
                                    
                                        
                                  
                                        
                                        <h3>{{ info.titre }}</h3>
                                        <p class="mt-30">{{ info.description }}.</p>
                                    </div>

                                   
                                    <div class="contact-social-info d-flex mb-30">
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>

                                   
                                    <div class="single-contact-info d-flex">
                                        <div class="contact-icon mr-15">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <p>{{ info.adresse }}<br>{{ info.pays }}</p>
                                    </div>

                                    
                                    <div class="single-contact-info d-flex">
                                        <div class="contact-icon mr-15">
                                            <i class="icon-telephone-1"></i>
                                        </div>
                                        <p>{{ info.contact1 }} <br> {{ info.contact2 }}</p>
                                    </div>

                                  
                                    <div class="single-contact-info d-flex">
                                        <div class="contact-icon mr-15">
                                            <i class="icon-contract"></i>
                                        </div>
                                        <p>{{ info.email }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                         {% endfor %}
                         
                         
                            
                                
                                <div class="col-12 col-lg-7">
                                    <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">
                                        <form action="" method="post">
                                            {% csrf_token %}
												{{ form | crispy}}
                                            <button class="btn academy-btn mt-30" type="submit">Envoyer</button>
                                        </form>
                                    </div>
                                </div>
                        
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 


{% endblock content %}
   