{% extends "enseignement/base.html" %}
{% load static  %}
{% block content %}
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'enseignement/img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <h2>Mes Ecue </h2>
        </div>
    </div>
    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   
                </div>
            </div>
            <div class="row">
{% for ecue in ecues %}
    {% if ecue.ue.specialite == user.student.specialite %}
            {% if ecue.ue.niveau == user.student.niveau %}
                     <div class="col-12 col-lg-6">
                    <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                        <div class="popular-course-content">
                            <h5>{{  ecue.intitule }}</h5>
                             <span>{{ecue.ue.nom }} | {{  ecue.enseignant.user.last_name }} {{  ecue.enseignant.user.first_name}}{{user.student.etablissement}} </span>
                               <div class="course-ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p>{{  ecue.objectif_specifique|safe }}</p>
                          <a href="{% url 'students:course-list' pk=ecue.pk %}" class="btn academy-btn btn-sm">Voir</a>
                        </div>
                        <div class="popular-course-thumb bg-img" style="background-image: url({{ ecue.image.url }});"></div>
                    </div>
                </div>
         {% endif %}         
  {% endif %} 
{% endfor %}
          </div>
        </div>
    </div>
   
{% endblock content %}