{% extends "enseignement/base.html" %}
{% load static  %}
{%block content %}

   <section class="hero-area">
   
   
       
       {% if user.is_authenticated %}
     
       {% else %}
       <div class="row">
        {% if messages %}
      {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
                  <strong>{{message}}</strong> 
              </div>
      {% endfor %}
  {% endif 	%}	
      </div>
       <div class="hero-slides owl-carousel">

        <div class="single-hero-slide bg-img" style="background-image: url({% static 'enseignement/img/core-img/p3.svg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h4 data-animation="fadeInUp" data-delay="100ms" style="color: #59c8e4;">EduvRoom</h4>
                            <h2 data-animation="fadeInUp" data-delay="400ms" style="color: #59c8e4;">L'enseignement <br> à portée de main.</h2>
                            <a href="{% url 'site-contact' %}" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="single-hero-slide bg-img" style="background-image: url({% static 'enseignement/img/core-img/p4.svg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h4 data-animation="fadeInUp" data-delay="100ms" style="color: black;">EduvRoom</h4>
                            <h2 data-animation="fadeInUp" data-delay="400ms" style="color: black;">Le numéro de <strong>1</strong><br>L'enseignement à distance.</h2>
                            <a href="{% url 'site-contact' %}" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="features-content">
                    <div class="row no-gutters">
                    
                        <div class="col-12 col-md-4">
                            <div class="single-top-features d-flex align-items-center justify-content-center">
                                <i class="icon-agenda-1"></i>
                                <h5>Cours en ligne</h5>
                            </div>
                        </div>
                      
                        <div class="col-12 col-md-4">
                            <div class="single-top-features d-flex align-items-center justify-content-center">
                                <i class="icon-assistance"></i>
                                <h5>Un Corps enseignant de qualité</h5>
                            </div>
                        </div>
                      
                        <div class="col-12 col-md-4">
                            <div class="single-top-features d-flex align-items-center justify-content-center">
                                <i class="icon-telephone-3"></i>
                                <h5>Support 7J/24H</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
       {% endif %}
           
   

          
          <center>  <div class="row">
                {% if messages %}
              {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
                          <strong>{{message}}</strong> 
                      </div>
              {% endfor %}
          {% endif 	%}	
              </div>
            </center>
           
                <div class="container">
                  
                    <div class="row">
                        
                        <div class="col-12">
                            
                            <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                                <span> <div class="top-popular-courses-area section-padding-100-70">
                                    <div class="row">
                                        <p>
                                            <marquee behavior="scroll" direction="left"
                                            onmouseover="this.stop();"
                                            onmouseout="this.start();">
                                            
                                            {% for m in msg   %}
                                                <code>{{ m.titre }} :</code> <i>{{ m.description }} || </i>
                                            {% endfor %}
                                                 </marquee>
                                    </p>
                    
                                    </div></span>

                                <h3>Actualités</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                
                {% for recrutement in recrutements %}
                    
              
                    
                       
                        <div class="col-12 col-lg-6">
                            <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                                <div class="popular-course-content">
                                    <h5>{{ recrutement.intitule }}</h5>
                                    <span>Du {{ recrutement.ouverture |date:" d F Y" }}   | Au {{ recrutement.fermeture |date:'d F Y' }}</span>
                                    <div class="course-ratings">
                                       
                                    </div>
                                    <p>{{ recrutement.objet | safe  }}</p>
                                    <a href="{% url 'recrutement-detail' recrutement.id %}" class="btn academy-btn btn-sm">Consulter</a>
                                </div>
                                <div class="popular-course-thumb bg-img" style="background-image: url({% static 'enseignement/img/recrutement.svg' %});"></div>
                            </div>
                        </div>
                        
              {% endfor %}
              {% if is_paginated %}
              {% if page_obj.has_previous %}
                  <a class="btn btn-outline-info mb-4" href="?page=1">Debut</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Précédent</a>
              {% endif%}
              {% for num in page_obj.paginator.page_range%}
                  {% if page_obj.number == num %}
                   <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Fin</a>
              {% endif%}
  
            {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="partner-area section-padding-0-100">
                
                <div class="container">
                  
                    <div class="row">
                        <div class="col-12">
                           
                            <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                                
                                {% for partenaire in partenaires %}
                                
                                {% if partenaire.status %}
                                    
                               
                                    
                                         <a href="#"><img src=" {{ partenaire.logo.url }}" alt=""></a>
                                         {% endif %}
                                {% endfor %}
                                    
                               </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="call-to-action-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                                <h3>Vous voulez faire partir de nos futurs étudiants  !</h3>
                                <a href="{% url 'site-contact' %}" class="btn academy-btn">Incrivez vous maintenant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


{% endblock content %}