{% extends "enseignement/base.html" %}
{% load static  %}
{%block content %}

<div class="breadcumb-area bg-img" style="background-image: url({% static 'enseignement/img/core-img/linkedin_banner_image.png' %});">

</div>
            <div class="top-features-area wow fadeInUp" data-wow-delay="500ms">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="features-content">
                                <div class="row no-gutters">
                                    <!-- Single Top Features -->
                                    <div class="col-12 col-md-4">
                                        <div class="single-top-features d-flex align-items-center justify-content-center">
                                            <i class="icon-agenda-1"></i>
                                            <h5>Cours en ligne</h5>
                                        </div>
                                    </div>
                                    <!-- Single Top Features -->
                                    <div class="col-12 col-md-4">
                                        <div class="single-top-features d-flex align-items-center justify-content-center">
                                            <i class="icon-assistance"></i>
                                            <h5>Un Corps enseignant de qualité</h5>
                                        </div>
                                    </div>
                                    <!-- Single Top Features -->
                                    <div class="col-12 col-md-4">
                                        <div class="single-top-features d-flex align-items-center justify-content-center">
                                            <i class="icon-telephone-3"></i>
                                            <h5>Support 7J/24H</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Top Feature Area End ##### -->

           
          
            <!-- ##### Top Popular Courses Area Start ##### -->
          <center>  <div class="row">
                {% if messages %}
              {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
                          <strong>{{message}}</strong> 
                      </div>
              {% endfor %}
          {% endif 	%}	
              </div>
            </center>
            <div class="top-popular-courses-area section-padding-100-70">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                                <span></span>
                                <h3>Actualités</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                
                {% for recrutement in recrutements %}
                    
              
                    
                        <!-- Single Top Popular Course -->
                        <div class="col-12 col-lg-6">
                            <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                                <div class="popular-course-content">
                                    <h5>{{ recrutement.intitule }}</h5>
                                    <span>Du {{ recrutement.ouverture |date:" d F Y" }}   | Au {{ recrutement.fermeture |date:'d F Y' }}</span>
                                    <div class="course-ratings">
                                       
                                    </div>
                                    <p>{{ recrutement.objet | safe  }}</p>
                                    <a href="{% url 'recrutement-detail' recrutement.id %}" class="btn academy-btn btn-sm">Consulter</a>
                                </div>
                                <div class="popular-course-thumb bg-img" style="background-image: url({% static 'enseignement/img/recrutement.svg' %});"></div>
                            </div>
                        </div>
                        
              {% endfor %}
                    </div>
                </div>
            </div>
            <!-- ##### Top Popular Courses Area End ##### -->

            <!-- ##### Partner Area Start ##### -->
            <div class="partner-area section-padding-0-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                                
                                {% for partenaire in partenaires %}
                                
                                    {% if partenaire.status %}
                                    
                               
                                    
                                         <a href="#"><img src=" {{ partenaire.logo.url }}" alt=""></a>
                                    {% endif %}
                                {% endfor %}
                                    
                               </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Partner Area End ##### -->

            <!-- ##### CTA Area Start ##### -->
            <div class="call-to-action-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                                <h3>Vous voulez faire partir de nos futurs étudiants  !</h3>
                                <a href="#" class="btn academy-btn">Incrivez vous maintenant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### CTA Area End ##### -->


{% endblock content %}